html,
body {
  background: $tuf-color-primary;
  background: linear-gradient(
    180deg,
    transparentize($tuf-color-secondary ,0) 0%,
    transparentize($tuf-color-primary, 0) 25%,
    transparentize($tuf-color-primary, 0) 70%,
    transparentize($tuf-color-secondary, 0) 100%
  );
}

#main {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  min-height: 100vh;
  height: 200vh;
  overflow: hidden;
}

.tuf-section {
  margin: 0 auto;

  padding: 0 16px;

  @media (min-width: 600px) {
    padding: 0 32px;
  }

  @media (min-width: 1024px) {
    padding: 0 48px;
  }
}