html,
body {
  background: $tuf-color-primary;
  background: linear-gradient(
    180deg,
    transparentize($tuf-color-secondary ,0) 0%,
    transparentize($tuf-color-primary, 0) 25%,
    transparentize($tuf-color-primary, 0) 70%,
    transparentize($tuf-color-secondary, 0) 100%
  );
}

#main {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  min-height: 100vh;
  height: 200vh;
  overflow: hidden;
}

.tuf-no-scroll {
  overflow: hidden;
}

.tuf-section {
  margin: 0 auto;

  padding: rem(64) rem(16) 0;

  @media (min-width: rem(600)) {
    padding: rem(64) rem(32) 0;
  }

  @media (min-width: rem(1024)) {
    padding: rem(108) rem(48) 0;
  }
}