.tuf-section-title {
  font-size: rem($tuf-section-title);
  color: transparentize($tuf-color-secondary, .7);
  font-weight: $tuf-font-weight-bold;
  line-height: .9;

  @media only screen and (min-width: rem(500)) {
    font-size: rem($tuf-section-title-t);
  }

  @media only screen and (min-width: rem(1024)) {
    font-size: rem($tuf-section-title-d);
  }
}