{% from "macros/case-study-card.njk" import case_study_card, case_study_card_tag %}
{% from "macros/form.njk" import talk_form with context %}

{% extends "base.njk" %}

{% block meta_tag %}
<title>{{case_studies_list.meta_title|safe}}</title>
<meta property="og:url" content="{{meta.home.og_url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{meta.home.og_title}}">
<meta property="og:description" content="{{meta.home.og_description}}">
<meta property="og:image" content="{{meta.home.og_image}}">
{% endblock %}

{% block base_tag %}
<base href="/">
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="/assets/css/pages/case-studies.css">
{% endblock %}

{% block content %}
<section
  class="tuf-section hero">
  <div class="tuf-section__content hero__content">
    <h1 class="tuf-section-title hero__title">
      {{case_studies_list.title|safe}}
    </h1>
  </div>
</section>

<section
  class="tuf-section content">
  <div class="tuf-section__content tuf-content-padding">
    <div class="content__filter">
      <label id="case-studies-filter-label" class="content__filter__label">
        {{case_studies_list.filter_label}}
      </label>
      <div class="content__filter-wrapper">
        <button
          data-alltype="{{case_studies_list.filter_all | safe}}"
          class="content__filter__btn"
          aria-haspopup="listbox"
          aria-labelledby="case-studies-filter-label case-studies-filter-btn"
          id="case-studies-filter-btn">
          <span>{{case_studies_list.filter_all | safe}}</span>
          <svg role="img" class="what-do-you-seek__content__navigation__label__icon">
            <use xlink:href="#down" />
          </svg>
        </button>
        <ul id="case-studies-filter" class="content__filter__list">
          <li
            class="content__filter__list-item"
            tabindex="0"
            role="option"
            data-type="{{case_studies_list.filter_all | safe}}">
            {{case_studies_list.filter_all | safe}}
          </li>
        </ul>
      </div>
    </div>
    <ul id="case-studies-list" class="content__list">
    </ul>

    <template id="dropdown-item-template">
      <li
        class="content__filter__list-item"
        tabindex="0"
        role="option">
      </li>
    </template>
    <template id="case-study-item-template">
      <li
        data-tags="{{item.tags}}"
        class="content__list__item content__list__item--visible">
        {{
          case_study_card(
            classses = '',
            href = '/case-studies/',
            title = '',
            tags = [],
            image = ''
          )
        }}
      </li>
    </template>
    <template id="case-study-tag-template">
      {{case_study_card_tag()}}
    </template>
  </div>
</section>

<!-- talk to us section -->
{{talk_form(classes='contact-form--gradient')}}
<!-- end of talk to us section -->

{% endblock %}

{% block page_script %}
<script src="/assets/js/case-studies.min.js"></script>
{% endblock %}
