$tuf-color-primary: #8227dc;
$tuf-color-primary-light: #5216ad;
$tuf-color-secondary: #2e088b;
$tuf-color-clickable: #ffb400;
$tuf-color-yellow: #ffdc00;
$tuf-color-white: #fff;
$tuf-color-turqoise: #00ffea;
$tuf-color-dropdown: #6b21ba;
$tuf-color-card-border: #982fff;

