// We use these to define default font stacks
$tuf-font-family: 'Roboto', sans-serif !default;

// We use these to define default font styles
$tuf-font-style-normal: normal !default;

// We use these to define default font weights
$tuf-font-weight-light: 300 !default;
$tuf-font-weight-regular: 400 !default;
$tuf-font-weight-medium: 500 !default;
$tuf-font-weight-bold: 700 !default;
$tuf-font-weight-x-bold: 900 !default;

$tuf-section-title: 60;
$tuf-section-title-t: 100;
$tuf-section-title-d: 180;
