// We use these to define default font stacks
$tuf-font-family: 'Roboto', sans-serif !default;

// We use these to define default font styles
$tuf-font-style-normal: normal !default;

// We use these to define default font weights
$tuf-font-weight-thin: 100 !default;
$tuf-font-weight-light: 300 !default;
$tuf-font-weight-regular: 400 !default;
$tuf-font-weight-medium: 500 !default;
$tuf-font-weight-bold: 700 !default;

$tuf-section-title: 60;
$tuf-section-title-t: 100;
$tuf-section-title-d: 180;

.tuf-section-title {
  font-size: rem($tuf-section-title);
  color: transparentize($tuf-color-secondary, .7);
  font-weight: $tuf-font-weight-bold;
  line-height: .9;

  @media only screen and (min-width: rem(500)) {
    font-size: rem($tuf-section-title-t);
  }

  @media only screen and (min-width: rem(1024)) {
    font-size: rem($tuf-section-title-d);
  }
}