{% from "macros/button.njk" import button_link %}

{% extends "base.njk" %}

{% block content %}
<!-- hero section -->
<section id="{{home.hero.slug}}"  class="tuf-section tuf-section--full-bleed">
  <img class="tuf-home-hero__bg" src="/assets/img/hero-hand.png" />
  <div class="tuf-home-hero">
    <h1 class="tuf-home-hero__header">
      {{home.hero.title|safe}}
    </h1>
    <div class="tuf-home-hero__footnote">
      <p>{{home.hero.footnote_1}}</p>
      <p class="tuf-home-hero__footnote-highlight">{{home.hero.footnote_2}}</p>
    </div>
  </div>
  <div class="tuf-home-hero__cta">
    {{
      button_link(
        classes="tuf-home-hero__cta__link",
        type="primary",
        label=home.hero.cta.label,
        href=home.hero.cta.href
      )
    }}
  </div>
</section>
<!-- end of hero section -->

<!-- mission section -->
<section id="{{home.mission.slug}}"  class="tuf-section tuf-home-mission-section">
  <div class="tuf-home-mission">
    <h2>
      {{home.mission.title}}
    </h2>
    <p>
      {{home.mission.content}}
    </p>
  </div>
</section>
<!-- end of mission section -->

<!-- clients section -->
<section
  id="{{home.clients.slug}}" 
  class="tuf-section tuf-section--full-bleed tuf-section--no-padding tuf-home-clients-section">
  <h2 class="tuf-section-title tuf-home-clients__title">
    {{home.clients.title}}
  </h2>
  <div class="tuf-home-clients__carousel">
    <div class="tuf-home-clients__list-bg"></div>
    <div class="tuf-home-clients__list">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides glide__track tuf-home-clients__list-items">
          {% for client in home.clients.items %}
          <li
            aria-label="{{client.name}}"
            class="glide__slide tuf-home-clients__list-item">
            <img src="{{client.image}}" alt="{{client.name}}" />
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end of clients section -->

<!-- testimonials section -->
<section id="{{home.testimonials.slug}}" class="tuf-section tuf-home-testimonials-section">
  <div class="tuf-home-testimonials__list">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides glide__track tuf-home-testimonials__list-items">
        {% for testimonial in home.testimonials.items %}
        <li class="glide__slide tuf-home-testimonials__list-item">
          <blockquote>
            <p>
              {{testimonial.content}}
            </p>
            <footer>
              — {{testimonial.name}}
            </footer>
          </blockquote>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="glide__bullets tuf-home-testimonials__list-paginations" data-glide-el="controls[nav]">
      {% for testimonial in home.testimonials.items %}
      <button class="glide__bullet" data-glide-dir="={{loop.index0}}"></button>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end of testimonials section -->

<!-- what we do section -->
<section
  id="{{home.what_we_do.slug}}"
  class="tuf-section tuf-section--full-bleed tuf-section--no-padding tuf-home-clients-what-we-do-section">
  <h2 class="tuf-section-title tuf-home-what-we-do__title">
    {{home.what_we_do.title}}
  </h2>
  <div class="tuf-home-what-we-do__list">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides glide__track tuf-home-what-we-do__list-items">
        {% for item in home.what_we_do.items %}
        <li class="glide__slide tuf-home-what-we-do__list-item">
          <a
            href="{{item.href}}"
            class="glide__slide tuf-home-what-we-do__list-item__card">
            <img src="{{item.image}}" alt="{{item.title}}" class="tuf-home-what-we-do__list-item__card__image" />
            <h3 class="tuf-home-what-we-do__list-item__card__title">
              {{item.title|safe}}
            </h3>
            <p class="tuf-home-what-we-do__list-item__card__content">
              {{item.content|safe}}
            </p>
            <small class="tuf-home-what-we-do__list-item__card__footnote">
              {{item.footnote|safe}}
            </small>
            <button class="tuf-home-what-we-do__list-item__card__link">
              <div class="tuf-home-what-we-do__list-item__card__link__icon">
                <svg role="img">
                  <use xlink:href="#icon-arrow-right" />
                </svg>
              </div>
              {{item.cta_label}}
            </button>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!-- end of what we do section -->
{% endblock %}


{% block page_script %}
<script src="/assets/js/home.min.js"></script>
{% endblock %}