{% extends "base.njk" %}

{% block content %}
<!-- hero section -->
{% include 'partials/home-hero.njk' %}
<!-- end of hero section -->

<!-- mission section -->
<section class="tuf-section tuf-home-mission-section">
  <div class="tuf-home-mission">
    <h2>
      {{home.mission.title}}
    </h2>
    <p>
      {{home.mission.content}}
    </p>
  </div>
</section>
<!-- end of mission section -->

<!-- clients section -->
<section
  class="tuf-section tuf-section--full-bleed tuf-section--no-padding tuf-home-clients-section">
  <h1 class="tuf-home-clients__title">
    {{home.clients.title}}
  </h1>
  <div class="tuf-home-clients__carousel">
    <div class="tuf-home-clients__list-bg"></div>
    <div class="tuf-home-clients__list">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides glide__track tuf-home-clients__list-items">
          {% for client in home.clients.items %}
          <li
            aria-label="{{client.name}}"
            class="glide__slide tuf-home-clients__list-item">
            <img src="{{client.image}}" alt="{{client.name}}" />
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end of clients section -->

<section class="tuf-section tuf-home-testimonials-section">
  <div class="tuf-home-testimonials__list">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides glide__track tuf-home-testimonials__list-items">
        {% for testimonial in home.testimonials.items %}
        <li class="glide__slide tuf-home-testimonials__list-item">
          <blockquote>
            <p>
              {{testimonial.content}}
            </p>
            <footer>
              — {{testimonial.name}}
            </footer>
          </blockquote>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="glide__bullets tuf-home-testimonials__list-paginations" data-glide-el="controls[nav]">
      {% for testimonial in home.testimonials.items %}
      <button class="glide__bullet" data-glide-dir="={{loop.index0}}"></button>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}


{% block page_script %}
<script type="module" src="/assets/js/pages/home.js"></script>
{% endblock %}