{% from "macros/form.njk" import talk_form with context %}

{% extends "base.njk" %}

{% block page_styles %}
<link rel="stylesheet" href="./assets/css/pages/case-study-base.css">
{% endblock %}

{% block meta_tag %}
<title>Case Study: River Safari</title>
<meta property="og:url" content="{{meta.home.og_url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{meta.home.og_title}}">
<meta property="og:description" content="{{meta.home.og_description}}">
<meta property="og:image" content="{{meta.home.og_image}}">
{% endblock %}

{% block base_tag %}
<base href="/">
{% endblock %}

{% block content %}
<section
  class="tuf-section hero">
  <div class="tuf-content-padding tuf-section__content hero__content">
    <div>
      <h1 class="tuf-section-title hero__title">
        River Safari<span class="tuf-header-br">Adventure Buddy</span>
      </h1>
      <p>

      </p>
    </div>
  </div>
</section>

<!-- talk to us section -->
{{talk_form()}}
<!-- end of talk to us section -->
{% endblock %}