@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.tuf-button {
  display: block;

  padding: rem(8) rem(24);

  box-sizing: border-box;

  font-size: rem(22);

  font-weight: $tuf-font-weight-bold;

  text-transform: uppercase;
  text-align: center;

  color: $tuf-color-white;

  border-radius: rem(30);

  @media (min-width: rem(768)) {
    font-size: rem(30);
  }

  &:focus {
    outline: none;
  }

  &--primary {
    border: rem(3) solid $tuf-color-yellow;

    background-color: transparent;

    transition: border-color .25s ease-in-out, color .25s ease-in-out;

    &:hover,
    &:focus {
      border-color: transparentize($tuf-color-yellow, .2);
      color: transparentize($tuf-color-white, .2);
    }
  }

  &--secondary {
    background-color: $tuf-color-primary;

    transition: background-color .25s ease-in-out;

    &:hover,
    &:focus {
      background-color: transparentize($tuf-color-primary, .2);
    }
  }
}

.tuf-icon-circle {
  display: flex;

  flex-direction: row;

  align-items: center;
  justify-content: center;
  width: rem(48);
  height: rem(48);

  border: rem(3) solid $tuf-color-yellow;
  border-radius: rem(48);
  background-color: transparent;

  color: $tuf-color-yellow;

  transition: border-color .25s ease-out, color .25s ease-out;

  svg {
    width: rem(30);
    height: rem(30);
    color: inherit;
  }

  &--btn {
    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: transparentize($tuf-color-yellow, .3);
      border-color: transparentize($tuf-color-yellow, .3);
    }
  }
}