@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.tuf-case-study-card {
  display: block;

  &:hover,
  &:focus {
    outline: nones;
    .tuf-case-study-card__content__title {
      text-decoration: underline;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__content {
    width: 100%;

    box-sizing: border-box;

    padding: rem(24);

    &__title,
    &__tags {
      color: $tuf-color-clickable;
    }

    &__title {
      font-size: rem(22);

      line-height: 1.2;

      font-weight: $tuf-font-weight-bold;

      @media only screen and (min-width: rem(1024)) {
        font-size: rem(30);
      }
    }

    &__tags {
      display: flex;
      font-size: rem(18);
      font-weight: $tuf-font-weight-light;
      line-height: 1.5;

      @media only screen and (min-width: rem(1024)) {
        font-size: rem(24);
      }

      &__item {
        &:not(:first-child)::before {
          content: '•';
          padding: 0 rem(8);
        }
      }
    }
  }
}