@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.tuf-case-study-card {
  display: block;

  &:hover,
  &:focus {
    outline: nones;
    .tuf-case-study-card__content__title {
      text-decoration: underline;
    }
  }

  &:hover &__frame,
  &:focus &__frame {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 rem(8) rem(24) rgba(0, 0, 0, .5);
  }

  &__frame {
    overflow: hidden;
    box-shadow: none;
    transition: transform .125s ease-in-out, box-shadow .125s linear;
  }

  &:hover &__image,
  &:focus &__image {
    transform: scale(1.1);
    transition: transform 8s linear;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__content {
    width: 100%;

    box-sizing: border-box;

    padding: rem(24);

    @media only screen and (min-width: rem(1024)) {
      padding: rem(40);
    }

    &__title {
      color: $tuf-color-yellow;
    }

    &__tags {
      color: $tuf-color-clickable;
    }

    &__title {
      font-size: rem(22);

      line-height: 1.2;

      font-weight: $tuf-font-weight-bold;

      @media only screen and (min-width: rem(1024)) {
        font-size: rem(30);
      }
    }

    &__tags {
      display: flex;
      font-size: rem(18);
      font-weight: $tuf-font-weight-light;
      line-height: 1.5;

      @media only screen and (min-width: rem(1024)) {
        font-size: rem(24);
      }

      &__item {
        &:not(:first-child)::before {
          content: '•';
          padding: 0 rem(8);
        }
      }
    }
  }
}
