@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.tuf-header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: index($z-elements, header);

  display: flex;

  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;

  padding: $tuf-header-padding;

  background-color: $tuf-color-secondary;

  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);

  transform: translate3d(0, 0, 0);

  transition: background-color 125ms linear, transform 400ms ease;

  &--scrolled {
    transform: translate3d(0, -100%, 0);
  }

  &--transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &-skip {
    @include element-invisible;

    position: absolute;

    top: 50%;
    left: 50%;

    padding: rem(8) rem(16);

    background-color: var(--color-alto);

    color: $tuf-color-primary;

    outline: none;

    transform: translate(-50%, -50%);

    &:focus {
      @include element-invisible-off;
      position: absolute;
    }
  }

  &-logo {
    height: rem(30);

    img {
      width: auto;
      height: 100%;
    }
  }

  &-nav {
    display: none;

    &-items {
      margin-right: rem(24);
    }

    &-item {
      position: relative;
      margin: 0 rem(16);

      font-size: rem(16);

      font-weight: $tuf-font-weight-bold;
      color: $tuf-color-clickable;

      &::after {
        position: absolute;
        display: block;

        bottom: -rem(4);
        left: 0;

        content: '';
        width: 100%;
        height: rem(2);

        margin-top: rem(4);

        background-color: transparent;

        transition: background-color .2s ease-in-out;
      }

      &:hover,
      &:focus {
        &::after {
          background-color: $tuf-color-clickable;
        }
      }
    }

    @media (min-width: 1024px) {
      display: flex;

      flex-direction: row;

      align-items: center;
    }
  }

  @media (min-width: 728px) {
    & {
      padding: $tuf-header-padding-t;
    }

    &-logo {
      height: rem(60);
    }
  }
}