@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.tuf-home-hero {
  position: relative;
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/img/hero-hand.png');

  width: 100%;
  min-height: rem(618);

  margin-top: rem(88);

  &-cta {
    margin-top: rem(24);
    text-align: center;
  }

  &-cta-link {
    display: inline-block;
  }

  &-header {
    font-size: rem(40);

    line-height: 1.25;

    max-width: rem(542);

    color: $tuf-color-white;

    margin-top: 0;
  }

  &-footnote {
    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    margin-bottom: 0;

    color: $tuf-color-white;

    font-size: rem(16);

    font-weight: $tuf-font-weight-thin;

    line-height: 1.5;

    &-highlight {
      color: $tuf-color-turqoise;

      font-size: rem(30);

      font-weight: $tuf-font-weight-bold;

      line-height: 1;
    }
  }

  @media (min-width: rem(768)) {
    & {
      flex-direction: row;
    }
  }

  @media (min-width: rem(768) and (max-width: rem(1024))) {
    &-footnote {
      font-size: rem(18);

      &-highlight {
        font-size: rem(40);
      }
    }

    &-header {
      font-size: rem(60);
    }
  }

  @media (min-width: rem(1024)) {
    & {
      margin-top: rem(132);
    }

    &-cta {
      margin-top: rem(32);
    }

    &-footnote {
      max-width: rem(252);
      font-size: rem(24);
      margin-bottom: rem(48);

      &-highlight {
        font-size: rem(60);

        margin-top: rem(16);
      }
    }

    &-header {
      font-size: rem(80);
      margin-top: rem(104);
    }
  }
}