@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.hero {
  position: relative;
  width: 100%;
}

.intro {
  position: relative;

  background-color: $tuf-color-white;

  color: $tuf-color-gray;

  &__content {
    font-size: rem(18);
    line-height: 2;
  }

  &__bg-right {
    position: relative;

    left: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    height: rem(300);
    width: 100%;

    background-image: url('/assets/img/case-studies/river-safari/intro__image.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 rem(50);

    @media screen and (min-width: rem(768)) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }

    img {
      width: 100%;
      max-width: rem(631);
    }
  }
}

.problem {
  color: $tuf-color-white;

  background-color: #163526;

  &__content {
    &__copy {
      display: block;

      h2 {
        margin-bottom: rem(8);

        font-size: rem(24);
        font-weight: $tuf-font-weight-bold;

        line-height: 1.16;
      }

      p {
        font-size: rem(18);
        font-weight: $tuf-font-weight-regular;
        line-height: 2;
      }

      img {
        width: 100%;
        align-self: center;
      }
    }
  }
}