@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.cs-container {
  &__column {
    @media screen and (min-width: rem(1024)) {
      padding-right: rem(46);
      padding-left: rem(46);
    }

    @media screen and (min-width: rem(1366)) {
      padding-right: rem(94);
      padding-left: rem(94);
    }

    @media screen and (min-width: rem(1440)) {
      padding-right: rem(112);
      padding-left: rem(112);
    }
  }
}

.hero {
  position: relative;
  background-color: #00a4bb;
  z-index: 10;

  &__image {
    width: 100%;
  }

  &__trophy {
    position: absolute;
    top: ((478 / 550) * 100%);
    left: ((685 / 1920) * 100%);
    width: ((73 / 1920) * 100%);
  }

  &__man {
    position: absolute;
    top: ((314 / 550) * 100%);
    left: ((159 / 1920) * 100%);
    width: ((231 / 1920) * 100%);
  }
}

.intro {
  position: relative;
  color: $tuf-color-white;
  background-color: #2d52a1;

  &__left {
    padding-right: 0;
    padding-left: 0;
  }

  &__image {
    width: 100%;
  }
}

.crunch {
  position: relative;
  color: $tuf-color-gray;
  background-image: url('/assets/img/case-studies/wantedly/crunch__bg.png');
  background-position: center;

  &__left,
  &__right {
    @media screen and (min-width: rem(768)) {
      max-width: 50%;
    }
  }

  &__left {
    h2,
    p {
      max-width: rem(500);
    }
  }

  &__right {
    padding-right: 0;
    padding-left: 0;
  }

  &__image {
    width: 100%;
    max-width: rem(450);
  }
}

.tuf {
  background-image: url('/assets/img/case-studies/wantedly/tuf__background.jpg');
  background-size: cover;
  background-position: center;

  &__image {
    width: 100%;
    max-width: rem(668);
  }
}

.characters {
  color: $tuf-color-gray;
  background-color: $tuf-color-white;
  background-image: url('/assets/img/case-studies/wantedly/character__background.jpg');
  background-size: cover;
  background-position: 50%;

  &__wrapper {
    position: relative;

    .cs-container__row {
      margin: 0;
      justify-content: space-between;

      .cs-container__column {
        padding: 0 rem(15);
        margin-top: rem(40);
        max-width: rem(450);

        img {
          width: 100%;
        }

        @media screen and (min-width: rem(768)) {
          width: 50%;
          margin-top: 0;
          flex: 0 0 auto;

          &:nth-child(2) {
            transform: translateY(50%);
          }

          &:nth-child(3) {
            margin-top: rem(60);
          }
        }

        @media screen and (min-width: rem(1366)) {
          width: 33%;

          &:nth-child(2) {
            transform: translateY(50%);
          }

          &:nth-child(3) {
            transform: translateY(90%);
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: rem(40);
    width: 100%;
    max-width: rem(200);

    @media screen and (min-width: rem(768)) {
      margin-left: 25%;
      transform: translateX(-50%);
    }
  }
}

.fb {
  color: $tuf-color-white;
  background-color: #25a4b9;

  .cs-container {
    max-width: none;
    padding: 0 rem(24) rem(32);

    @media screen and (min-width: rem(1024)) {
      padding-bottom: rem(64);
    }
  }

  &__title {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: rem(1600);
    margin: 0 auto;

    @media screen and (min-width: rem(768)) {
      padding-left: rem(32);
      padding-right: rem(32);
    }

    @media screen and (min-width: rem(1024)) {
      padding-left: rem(36);
      padding-right: rem(36);
    }

    @media screen and (min-width: rem(1366)) {
      padding-left: rem(60);
      padding-right: rem(60);
    }

    @media screen and (min-width: rem(1440)) {
      padding-left: rem(60);
      padding-right: rem(60);
    }
  }

  &__content {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    max-width: rem(1600);
    margin: 0 auto;

    @media screen and (min-width: rem(768)) {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 rem(16);
    }

    @media screen and (min-width: rem(1024)) {
      padding: 0 rem(16);
    }

    @media screen and (min-width: rem(1366)) {
      padding: 0 rem(32);
    }

    @media screen and (min-width: rem(1440)) {
      padding: 0 rem(32);
    }
  }

  &__cards {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: rem(576);

    & + & {
      margin-top: rem(56);
    }

    @media screen and (min-width: rem(768)) {
      margin: 0;
      width: calc(50% - #{rem(96 / 2)});

      & + & {
        margin-top: 0;
      }
    }

    @media screen and (min-width: rem(1366)) {
      width: calc(50% - #{rem(144 / 2)});
    }
  }

  &__icons {
    position: relative;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: rem(-168 / 2) 0 0 rem(-168 / 2);
    display: block;
    //width: ((300 / 910) * 100%);
    max-width: rem(168);
    //margin: 0 rem(40);

    @media screen and (min-width: rem(1366)) {
      margin: rem(-226 / 2) 0 0 rem(-226 / 2);
      max-width: rem(226);
    }
  }

  &__support-wrapper {
    position: relative;

    display: flex;

    flex-direction: column;

    @media screen and (min-width: rem(768)) {
      flex-direction: row;
    }
  }

  &__support {
    width: 100%;

    @media screen and (min-width: rem(768)) {
      width: (100% / 3);
    }
  }
}

.collaterals {
  color: $tuf-color-gray;
  background-color: #f9d13c;

  &__title {
    padding-bottom: 0;
  }

  &__hand-wrapper {
    display: flex;
  }

  &__bottom {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__hand {
    width: 100%;
    max-width: rem(518);

    align-self: flex-end;
  }

  &__pullup {
    width: 100%;
    max-width: rem(321);
    margin: rem(40) auto;
    align-self: center;

    @media screen and (min-width: rem(768)) {
      width: 60%;
    }
  }

  &__poster {
    padding: 0;

    img {
      display: block;
      width: 100%;
      max-width: rem(432);
      margin: 0 auto;
    }

    @media screen and (min-width: rem(768)) {
      &:nth-child(1) {
        margin-top: rem(20);
      }

      &:nth-child(2) {
        margin-top: rem(60);
      }

      &:nth-child(3) {
        margin-top: rem(100);
      }
    }
  }
}

.result {
  position: relative;
  background-color: $tuf-color-white;
  color: $tuf-color-gray;

  &__bg {
    position: relative;
    height: rem(500);
    width: 100%;
    left: 0;
    background-image: url('/assets/img/case-studies/wantedly/result__confetti.jpg');
    background-size: cover;

    @media screen and (min-width: rem(768)) {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
    }
  }

  &__wall {
    position: relative;
    left: 0%;
    width: 100%;

    @media screen and (min-width: rem(768)) {
      width: 50%;
    }
  }
}
