@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';
@import '../utils/functions';
@import '../utils/mixins';

.hero {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: rem(900);

    padding-bottom: rem(40);

    content: '';

    pointer-events: none;

    background: $tuf-color-secondary;
    background: linear-gradient(
      180deg,
      transparentize($tuf-color-secondary ,0) 0%,
      transparentize($tuf-color-primary, 1) 100%
    );
  }

  &__content {
    position: relative;
    margin-top: rem(108);
    margin-bottom: 0;

    @media (min-width: rem(1024)) {
      margin-top: rem(132);
    }
  }

  &__title {
    line-height: 1.25;
    color: $tuf-color-white;

    @media (min-width: $tuf-section-title-bp) {
      font-size: rem(80);
    }
  }
}