@import '../utils/functions';
@import '../utils/mixins';
@import '../utils/vars';
@import '../utils/colors';
@import '../utils/type';

// carousel style overwrite
.glide__bullets {
  bottom: rem(-32);

  z-index: index($z-elements, carousel_navigations);

  .glide__bullet {
    background-color: transparentize($tuf-color-secondary, .7);
  }

  .glide__bullet--active {
    background-color: $tuf-color-turqoise;
  }
}

.tuf-home-hero {
  position: relative;
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  width: 100%;
  min-height: rem(530);

  margin-top: rem(88);

  @media (min-width: rem(768)) {
    flex-direction: row;
  }

  @media (min-width: rem(1024)) {
    margin-top: rem(132);
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: rem(280);

    transform: translate(-50%, -50%);

    @media (min-width: rem(768)) {
      max-width: rem(380);
    }

    @media (min-width: rem(1024)) {
      max-width: rem(465);
    }
  }

  &__cta {
    margin-top: rem(40);
    text-align: center;

    @media (min-width: rem(768)) {
      margin-top: rem(64);
      font-size: rem(30);
    }
  }

  &__cta__link {
    display: inline-block;
  }

  &__header {
    font-size: rem(40);

    line-height: 1.25;

    max-width: rem(542);

    color: $tuf-color-white;

    margin-top: 0;

    @media only screen and (min-width: rem(1024)) {
      max-width: rem(640);
      font-size: rem(60);
      margin-top: rem(90);
    }

    @media only screen and (min-width: rem(1200)) {
      font-size: rem(80);
      margin-top: rem(104);
    }
  }

  &__footnote {
    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    margin-bottom: 0;

    color: $tuf-color-white;

    font-size: rem(16);

    font-weight: $tuf-font-weight-light;

    line-height: 1.5;

    @media only screen and (min-width: rem(768)) {
      font-size: rem(18);
    }

    @media only screen and (min-width: 1024px) {
      max-width: rem(252);
      font-size: rem(24);
      margin-bottom: rem(48);
    }

    &-highlight {
      color: $tuf-color-turqoise;

      font-size: rem(30);

      font-weight: $tuf-font-weight-bold;

      line-height: 1;

      @media only screen and (min-width: rem(768)) {
        font-size: rem(40);
      }

      @media only screen and (min-width: rem(1024)) {
        font-size: rem(60);

        margin-top: rem(16);
      }
    }
  }
}

.tuf-home-mission {
  display: flex;

  flex-direction: column;

  color: $tuf-color-white;

  line-height: 1.5;

  @media (min-width: rem(768)) {
    flex-direction: row;

    align-items: center;

    max-width: rem(640);
  }

  &__title {
    font-size: rem(30);

    flex-basis: 30%;

    margin-bottom: rem(24);

    @media (min-width: rem(768)) {
      margin-bottom: 0;
    }
  }

  &__content {
    flex-basis: 70%;
    font-size: rem(18);
    font-weight: $tuf-font-weight-light;

    @media (min-width: rem(768)) {
      margin-left: rem(32);
    }
  }
}

.tuf-home-clients {
  $grid-size: rem(24);
  $grid-rows: 4;

  &__carousel::before {
    display: block;
    content: '';

    width: 100%;

    margin-top: - rem($tuf-section-title / 2);

    @media only screen and (min-width: rem(500)) {
      margin-top: - rem($tuf-section-title-t / 2);
    }

    @media only screen and (min-width: rem(1024)) {
      margin-top: - rem($tuf-section-title-d / 2);
    }
  }

  &__list,
  &__list-items,
  &__list-bg {
    width: 100%;
    height: calc((#{$grid-size} * #{$grid-rows}) + #{rem(1)});
  }

  &__list-bg {
    position: absolute;

    bottom: 0;
    left: 0;

    display: block;

    width: calc(100% - (#{rem(16)} * 2));

    margin: 0 rem(16);

    background-size: $grid-size $grid-size;
    background-image:
      linear-gradient(to right, transparentize($tuf-color-secondary, .8) rem(1), transparent rem(1)),
      linear-gradient(to bottom, transparentize($tuf-color-secondary, .8) rem(1), transparent rem(1));


    @media (min-width: rem(600)) {
      width: calc(100% - (#{rem(32)} * 2));
      margin: 0 rem(32);
    }

    @media (min-width: rem(1024)) {
      width: calc(100% - (#{rem(48)} * 2));
      margin: 0 rem(48);
    }
  }

  &__list-item {
    display: flex;

    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: rem(46);
    }
  }
}

.tuf-home-testimonials {
  &-section {
    width: 100%;
  }

  &__list {
    margin: 0 auto;

    &-item {
      blockquote {
        font-size: rem(18);
      }

      blockquote p {
        margin-bottom:  rem(24);

        text-align: center;

        font-weight: $tuf-font-weight-bold;

        color: $tuf-color-turqoise;
      }

      blockquote footer {
        font-weight: $tuf-font-weight-light;

        color: $tuf-color-white;

        text-align: right;

        @media (min-width: rem(1024)) {
          text-align: center;
        }
      }

      blockquote p::before {
        content: '\201C';
      }

      blockquote p::after {
        content: '\201D';
      }
    }

    @media (min-width: rem(728)) {
      max-width: rem(640);
    }
  }
}

.tuf-home-ask-ava {
  &__title {
    text-align: right;
  }
}

.tuf-home-what-we-do {
  &__list {
    position: relative;
    width: 100%;

    max-width: rem(1440);

    padding: 0;

    @media (min-width: rem(1310)) {
      padding: $tuf-content-padding-d;
    }
  }

  &__list-paginations {
    @media (min-width: rem(1310)) {
      display: none;
    }
  }

  &__list-items {
    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: space-between;

    align-items: stretch;
  }

  &__list-item {
    position: relative;
    width: 100%;

    height: auto;

    @media (min-width: rem(768)) {
      width: calc((100% - (#{rem(24)} * 3)) / 4);
    }

    @media (min-width: rem(1310)) {
      width: calc((100% - (#{rem(24)} * 3)) / 4);

      &:nth-child(4n+2) {
        margin: 0 rem(12) 0 rem(24);
      }

      &:nth-child(4n+3) {
        margin: 0 rem(24) 0 rem(12);
      }
    }

    &__card {
      display: flex;

      flex-direction: column;

      width: 100%;
      height: 100%;

      box-sizing: border-box;

      padding: rem(24);

      border: rem(1) solid transparentize($tuf-color-secondary, .6);

      transition: border-color .25s ease-in-out;

      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        border-color: $tuf-color-turqoise;
      }

      &__title,
      &__content,
      &__footnote,
      &__link {
        color: $tuf-color-white;
      }

      &__content,
      &__footnote {
        font-weight: $tuf-font-weight-regular;
      }

      &__title {
        margin: rem(24) 0;

        font-size: rem(24);

        line-height: 1.2;

        @media screen and (min-width: rem(768)) {
          font-size: rem(30);
        }
      }

      &__content {
        margin-bottom: rem(24);
        font-size: rem(16);

        @media screen and (min-width: rem(768)) {
          font-size: rem(18);
        }
      }

      &__footnote {
        font-size: rem(14);

        margin-bottom: rem(64);

        @media screen and (min-width: rem(768)) {
          font-size: rem(16);
        }
      }

      &__link {
        position: absolute;

        display: flex;

        align-items: center;

        bottom: rem(24);
        left: 0;

        width: 100%;
        height: rem(40);

        padding: 0 rem(24);

        background-color: transparent;

        border: 0;

        font-size: rem(16);

        font-weight: $tuf-font-weight-medium;

        @media screen and (min-width: rem(768)) {
          font-size: rem(18);
        }

        &__icon {
          display: flex;

          align-items: center;
          justify-content: center;

          width: rem(40);
          height: rem(40);

          margin-right: rem(16);

          border: rem(2) solid $tuf-color-clickable;
          border-radius: rem(40);
        }

        svg {
          width: rem(24);
          height: rem(24);

          color: $tuf-color-clickable;
        }
      }
    }
  }

  &__cta {
    width: fit-content;

    margin: 0 auto;
  }

  &__footnote {
    margin-top: rem(64);
    margin-bottom: rem(48);

    &__content {
      padding: rem(24);
      box-sizing: border-box;

      margin: 0 auto;

      text-align: center;

      border: rem(2) solid $tuf-color-turqoise;

      color: $tuf-color-white;

      @media (min-width: rem(768)) {
        max-width: rem(640);
      }

      &__title {
        font-size: rem(18);
        font-weight: $tuf-font-weight-bold;
        line-height: 1.3;
        margin-bottom: rem(16);
      }

      p {
        font-size: rem(15);
        font-weight: $tuf-font-weight-regular;
        line-height: 1.2;
      }
    }
  }
}

.tuf-home-case-studies {
  &__title {
    margin-left: auto;

    max-width: rem(320);
    text-align: right;

    @media only screen and (min-width: rem(500)) {
      max-width: rem(500);
    }

    @media only screen and (min-width: rem(1024)) {
      max-width: rem(640);
    }
  }

  &__cta {
    width: fit-content;

    margin: 0 auto;
  }

  &__list {
    position: relative;

    display: flex;

    flex-direction: column;

    width: 100%;

    max-width: rem(1440);

    margin-bottom: rem(48);

    @media (min-width: rem(768)) {
      flex-direction: row;

      flex-wrap: wrap;
    }

    &__item {
      width: 100%;

      @media (min-width: rem(768)) {
        width: calc(100% / 3);
      }
    }
  }
}

.tuf-home-what-do-you-seek {
  &__title {
    margin-left: auto;

    max-width: rem(320);
    text-align: right;

    @media only screen and (min-width: rem(500)) {
      max-width: rem(500);
    }

    @media only screen and (min-width: rem(1024)) {
      max-width: rem(840);
    }
  }

  &__content-wrapper::before {
    display: block;
    content: '';

    width: 100%;

    margin-top: rem(24);

    @media only screen and (min-width: rem(1280)) {
      margin-top: - rem(($tuf-section-title-d * 2) - ($tuf-section-title-d * .9));
    }
  }

  &__content {
    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 0;

    @media (min-width: rem(600)) {
      padding: $tuf-content-padding-t;
    }

    @media screen and (min-width: rem(1280)) {
      flex-direction: row;

      padding: $tuf-content-padding-d;
    }

    &__navigation {
      flex-basis: 30%;
      position: relative;
      width: rem(280);

      @media screen and (min-width: rem(1280)) {
        width: auto;
      }

      &-wrapper {
        position: absolute;
        display: block;
        top: rem(36);
        left: 0;

        z-index: index($z-elements, dropdown_seek);

        width: 100%;

        box-sizing: border-box;

        padding: rem(16) rem(16) rem(24);

        visibility: hidden;

        background-color: $tuf-color-dropdown;
        opacity: 0;
        transform: scale(0);
        transform-origin: top;

        transition: opacity .25s ease, transform .25s ease-in-out;

        &--visible {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }

        @media screen and (min-width: rem(1280)) {
          position: relative;
          top: auto;
          left: auto;

          padding: 0;

          background-color: transparent;
          opacity: 1;
          visibility: visible;

          transform: scale(1);
        }
      }

      &__label,
      &__item {
        font-weight: $tuf-font-weight-bold;
        text-transform: uppercase;
      }

      &__cta {
        width: fit-content;

        margin-top: rem(24);
      }

      &__label {
        display: flex;

        flex-direction: row;

        justify-content: space-between;

        align-items: center;
        margin-bottom: rem(16);
        font-size: rem(18);
        color: transparentize($tuf-color-secondary, .7);

        cursor: pointer;

        &__icon {
          display: block;

          width: rem(24);
          height: rem(24);

          color: $tuf-color-clickable;

          @media screen and (min-width: rem(1280)) {
            display: none;
          }
        }

        @media screen and (min-width: rem(1280)) {
          cursor: default;
          font-size: rem(16);
        }
      }

      &__footnote {
        font-size: rem(18);
        font-weight: $tuf-font-weight-light;

        color: $tuf-color-white;

        @media screen and (min-width: rem(1024)) {
          font-size: rem(24);
        }
      }

      &__items {
        margin-bottom: rem(24);
      }

      &__item {
        height: rem(36);

        font-size: rem(18);
        line-height: 2;
        color: $tuf-color-white;

        cursor: pointer;

        @media screen and (min-width: rem(1024)) {
          height: rem(42);
          font-size: rem(24);
          line-height: 1.75;
        }
      }
    }

    &__cards {
      position: relative;
      flex-basis: 70%;

      &__item {
        width: calc((100% - (#{rem(24)} * 3)) / 4);

        margin: 0 rem(12) rem(24);

        &:first-child {
          margin-left: 0;
        }

        &:nth-child(4) {
          margin-right: 0;
        }
      }
    }

    &__cards__items {
      display: flex;

      flex-direction: row;

      flex-wrap: wrap;

      align-items: flex-start;

      justify-content: center;

      visibility: visible;

      opacity: 1;

      transition: visibility .5s, opacity .25s ease;

      &--hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__dialog {
    position: absolute;
    top: 0;
    left: 0;

    z-index: index($z-elements, dialog);

    display: flex;

    flex-direction: column;

    width: 100%;
    min-height: 100%;

    box-sizing: border-box;

    padding: 0 rem(16);

    background-color: $tuf-color-primary;

    visibility: hidden;
    opacity: 1;

    transition: visibility 0s, opacity .25s ease;

    @media only screen and (min-width: rem(1024)) {
      flex-direction: row;

      justify-content: center;

      background-color: transparent;
    }

    &__close-btn {
      display: flex;

      align-items: center;

      justify-content: center;

      width: rem(48);
      height: rem(48);

      margin: 0 auto;

      border: rem(2) solid $tuf-color-clickable;

      border-radius: 50%;

      background-color: transparent;

      svg {
        width: rem(24);
        height: rem(24);

        color: $tuf-color-clickable;
      }
    }

    &__image {
      text-align: center;

      img {
        max-width: rem(188);

        margin-top: rem(32);

        @media only screen and (min-width: rem(768)) {
          max-width: rem(280);

          margin-top: 0;
        }

        @media only screen and (min-width: rem(1024)) {
          max-width: rem(350);
        }
      }
    }

    &__content-wrapper {
      max-width: 100%;
      box-sizing: border-box;

      padding: rem(32) rem(16);

      color: $tuf-color-white;

      @media only screen and (min-width: rem(1024)) {
        max-width: rem(460);
        padding: 0 rem(32);
      }
    }

    &__type {
      font-size: rem(18);
      font-weight: $tuf-font-weight-bold;

      text-transform: uppercase;

      @media only screen and (min-width:rem(1024)) {
        font-size: rem(24);
      }
    }

    &__subtitle {
      font-size: rem(14);

      font-style: italic;

      font-weight: $tuf-font-weight-light;

      @media only screen and (min-width:rem(1024)) {
        font-size: rem(18);
      }
    }

    &__title {
      font-size: rem(36);
      font-weight: $tuf-font-weight-bold;
      color: $tuf-color-yellow;

      @media only screen and (min-width:rem(1024)) {
        font-size: rem(48);
      }
    }

    &__content {
      margin-top: rem(24);

      font-size: rem(14);

      font-weight: $tuf-font-weight-light;

      line-height: 1.6;

      p {
        margin-bottom: rem(16);
      }

      @media only screen and (min-width:rem(1024)) {
        font-size: rem(18);
      }
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tuf-home-instagram {
  &__list {
    position: relative;

    display: flex;

    flex-direction: row;

    width: 100%;

    max-width: rem(1000);

    padding: $tuf-content-padding;

    margin: 0 auto;

    margin-bottom: rem(48);

    @media (min-width: rem(600)) {
      padding: $tuf-content-padding-t;
    }

    @media (min-width: rem(768)) {
      flex-direction: row;

      flex-wrap: wrap;
    }

    @media (min-width: rem(1024)) {
      padding: $tuf-content-padding-d;
    }

    &__item {
      width: 100%;

      margin-bottom: rem(24);

      @media (min-width: rem(768)) {
        width: calc(100% / 3);

        margin-bottom: 0;
      }

      img {
        transition: opacity .25s ease-in-out;
      }

      a:hover,
      a:focus {
        outline: none;
        img {
          opacity: .7;
        }
      }
    }
  }
}
