{% from "macros/case-study-header.njk" import case_study_header %}
{% from "macros/form.njk" import talk_form with context %}
{% from "macros/case-study-nav.njk" import case_study_nav %}

{% extends "base.njk" %}

{% block page_styles %}
<link rel="stylesheet" href="./assets/css/pages/case-study-base.css">
<link rel="stylesheet" href="./assets/css/pages/case-study-ihp.css">
{% endblock %}

{% block meta_tag %}
<title>Branding for IHP Singapore – The Universe Fantastic: Creative Brand Agency | Singapore</title>
<meta property="og:url" content="http://theuniversefantastic.co/case-studies/ihp/">
<meta property="og:type" content="website">
<meta property="og:title" content="Branding for IHP Singapore – The Universe Fantastic: Creative Brand Agency | Singapore">
<meta property="og:description" content="Find out how we created a brand for IHP Singapore and made healthcare cool again.">
<meta property="og:image" content="http://theuniversefantastic.co/assets/images/tuf-facebook-share.jpg">
<meta name="description" content="Find out how we created a brand for IHP Singapore and made healthcare cool again.">
{% endblock %}

{% block base_tag %}
<base href="/">
{% endblock %}

{% block content %}
{{
  case_study_header(
    title='Healthcare Your<span class="tuf-header-br">Business Deserves</span>',
    tags=['Branding', 'UI/UX']
  )
}}

<section class="hero">
  <img
    draggable="false"
    src="/assets/img/case-studies/ihp/hero__background.jpg"
    alt="branding consultant in Singapore talking about the importance of ux design" />
</section>

<section class="intro">
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          IHP is a 3rd party administrator of managed healthcare services. They approached us for help in refreshing their brand and marketing collaterals.
        </p>
        <p data-aos="fade-up">
          After the initial review of all their brand and marketing collaterals, and during our first meeting with the client, we discovered that their problems lay deeper beneath the surface.
        </p>
      </div>
      <div class="col-md cs-container__column">
        <img
          class="intro__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/intro__graphic.png"
          alt="brand iconography and IHP brand elements" data-aos="fade-up" />
      </div>
    </div>
  </div>
</section>

<section class="over-twenty">
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column over-twenty__left">
        <img
          class="over-twenty__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/over-twenty__graphic.png"
          alt="creating a digital brand for IHP Singapore"
          data-aos="fade-up" />
      </div>
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          Though they've been in business for over 20 years, they haven't been keeping their marketing or brand position up to date. In the meantime, the market has become saturated with competitors.
        </p>
        <p data-aos="fade-up">
          We knew that IHP needed an urgent injection of confidence and a refocusing of their values.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="keywords">
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          As with most rebranding exercises, we started with a deconstruction of the IHP brand to see what we could keep, update or evolve, and what was superfluous.
        </p>
        <p data-aos="fade-up">
          We then dived into identifying the keywords that could form part of the new and updated brand identity.
        </p>
      </div>
      <div class="col-md cs-container__column keywords__right">
        <img
          class="keywords__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/keywords__graphic.png"
          alt="brand development process for the IHP Singapore"
          data-aos="fade-up" />
      </div>
    </div>
  </div>
</section>

<section class="personality">
  <img
    class="personality__title"
    draggable="false"
    src="/assets/img/case-studies/ihp/personality__title.png"
    alt="" />
  <img
    class="personality__triangle"
    draggable="false"
    src="/assets/img/case-studies/ihp/personality__triangle--br.png"
    alt="" />
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <img
          class="personality__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/personality__1.png"
          alt=""
          data-aos="fade-up" />
        <p data-aos="fade-up">
          We make the complex simple. We're easy to understand and talk to because we avoid using language that's too technical unless necessary
        </p>
      </div>
      <div class="col-md cs-container__column">
        <img
          class="personality__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/personality__2.png"
          alt=""
          data-aos="fade-up" />
        <p data-aos="fade-up">
          We treat all our clients with respect, and provide them with the same level of service regardless of their business size.
        </p>
      </div>
      <div class="col-md cs-container__column">
        <img
          class="personality__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/personality__3.png"
          alt=""
          data-aos="fade-up" />
        <p data-aos="fade-up">
          We always strive to understand the needs and fiscal plans of individual businesses before recommending a relevant healthcare programme.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="manifesto">
  <div class="cs-container__row">
    <div class="col-md cs-container__column manifesto__left">
      <div class="cs-container">
        <div class="cs-container__row manifesto__left__copy-wrapper">
          <div class="col-md cs-container__column manifesto__left__copy">
            <p data-aos="fade-up">
              Next, we condensed everything we’ve learnt into a brand manifesto that’s powerful, inspiring and informative.<span>(selected exerpts taken from the IHP brandbook)</span>
            </p>
          </div>
        </div>
      </div>
      <img
        class="manifesto__image"
        draggable="false"
        src="/assets/img/case-studies/ihp/manifesto__left.png"
        alt="writing brand manifesto for IHP Singapore "
        data-aos="fade-up" />
    </div>
    <div class="col-md cs-container__column manifesto__right">
      <img
        draggable="false"
        src="/assets/img/case-studies/ihp/manifesto__right.png"
        alt="brand communications for IHP Singapore" data-aos="fade-up"
        class="manifesto__image" />
      <div class="cs-container">
        <div class="cs-container__row">
          <div class="col-md cs-container__column">
            <p data-aos="fade-up">
              Then further distilled it down into a powerful statement <br>– the IHP brand strapline.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="moto">
  <img
    class="moto__image"
    draggable="false"
    src="/assets/img/case-studies/ihp/moto__graphic.jpg"
    alt="moto: healthcare your business deserves" />
</section>

<section class="statement">
  <div class="statement__bg"></div>
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          An organisation’s mission & vision statements are important as they influence the company’s direction. We worked closely with the IHP team to rewrite their M&V statements, making them more precise, simple to understand and pragmatically ambitious.
        </p>
      </div>
      <div class="col-md cs-container__column cs-container__column--desktop-only">
      </div>
    </div>
  </div>
</section>

<section class="mission-vision">
  <img
    class="mission-vision__motif--r"
    draggable="false"
    src="/assets/img/case-studies/ihp/mission-vission__motif--r.png" alt="" />
  <img
    class="mission-vision__motif--br"
    draggable="false"
    src="/assets/img/case-studies/ihp/mission-vission__motif--br.png"
    alt="" />
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <img
          class="mission-vision__title"
          draggable="false"
          src="/assets/img/case-studies/ihp/mission-vision__mission.png"
          alt="Our Mission"
          data-aos="fade-up" />
        <p data-aos="fade-up">
          To provide businesses of all sizes with quality healthcare programmes that are cost-effective and tailored to the individual business needs.
        </p>
      </div>
      <div class="col-md cs-container__column">
        <img
          class="mission-vision__title"
          draggable="false"
          src="/assets/img/case-studies/ihp/mission-vision__vision.png"
          alt="Our Vision"
          data-aos="fade-up" />
        <p data-aos="fade-up">
          Quality healthcare for all workers in the Asia-Pacific region.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="collaterals">
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <img
          class="collaterals__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/colletorals__left.png"
          alt="brand identity for IHP Singapore"
          data-aos="fade-up" />
      </div>
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          We also introduced the ‘+’ symbol as a supporting brand motif. A visual play on the universally recognised symbol for healthcare, the ‘+’ symbol can also be interpreted as a ‘Plus’, denoting the additional benefits and value that IHP offers.
        </p>
        <img
          class="collaterals__image collaterals__image--pad"
          draggable="false"
          src="/assets/img/case-studies/ihp/colletorals__right.png"
          alt="brand design and visual identity for IHP Singapore "
          data-aos="fade-up" />
      </div>
    </div>
  </div>
</section>

<section class="website">
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          We also revamped their website, designing the content in an easy to read layout, and rewriting the copy in a conversational tone as per the new brand guidelines.
        </p>
        <img
          class="website__image website__image--pad"
          draggable="false"
          src="/assets/img/case-studies/ihp/website__left.png"
          alt="website design for IHP Singapore"
          data-aos="fade-up" />
      </div>
      <div class="col-md cs-container__column">
        <img
          class="collaterals__image"
          draggable="false"
          src="/assets/img/case-studies/ihp/website__right.png"
          alt="website design for IHP Singapore" data-aos="fade-up" />
      </div>
    </div>
  </div>
</section>

<section class="lead">
  <div class="lead__bg"></div>
  <div class="cs-container">
    <div class="cs-container__row">
      <div class="col-md cs-container__column lead__left-wrapper">
        <img
          class="lead__left"
          draggable="false"
          src="/assets/img/case-studies/ihp/lead__left.png"
          alt="Example of good ux design"
          data-aos="fade-up" />
      </div>
      <div class="col-md cs-container__column">
        <p data-aos="fade-up">
          We also launched a mini-questionnaire component with multiple call-to-action buttons embedded throughout the site at strategic points, designed to maximise leads.
        </p>
        <img
          class="lead__right"
          draggable="false"
          src="/assets/img/case-studies/ihp/lead__right.png"
          alt="how to design for ux: the ux design process"
          data-aos="fade-up" />
      </div>
    </div>
  </div>
</section>

{{
  case_study_nav(
    prev_link="/case-studies/vicious",
    next_link="/case-studies/starbucks-career"
  )
}}

<!-- talk to us section -->
{{talk_form()}}
<!-- end of talk to us section -->
{% endblock %}

{% block page_script %}
<script src="./assets/js/case-study-base.min.js"></script>
{% endblock %}