{% macro case_study_hero(title = '', tags = []) %}
<section
  class="tuf-section cs-hero">
  <div class="tuf-content-padding tuf-section__content cs-hero__content">
    <div class="cs-hero__content-wrapper">
      <h1 class="tuf-section-title cs-hero__title">
        {{title|safe}}
      </h1>
      <ul class="cs-hero__tags" aria-label="tags">
        {% for tag in tags %}
        <li class="cs-hero__tags__item">
          {{tag}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endmacro %}