{% macro case_study_header(title = '', tags = []) %}
<section
  class="tuf-section cs-header">
  <div class="tuf-content-padding tuf-section__content cs-header__content">
    <div class="speckle">
      <img
        data-animate="true"
        data-tolerance="20,10"
        class="speck speck--dots-6x4"
        src="/assets/img/specks/dots-6x4.png" />
      <img
        data-animate="true"
        data-tolerance="20,10"
        class="speck speck--diamond-outline"
        src="/assets/img/specks/diamond-outline-light.png" />
      <img
        data-animate="true"
        data-tolerance="20,10"
        class="speck speck--ellipse-blue"
        src="/assets/img/specks/ellipse-blue.png" />
    </div>
    <div class="cs-header__content-wrapper">
      <h1 class="tuf-section-title cs-header__title">
        {{title|safe}}
      </h1>
      <div class="cs-header__tags" aria-label="tags">
        {{ tags | join(' • ') }}
      </div>
    </div>
  </div>
</section>
{% endmacro %}