{% set appTitle = 'The Universe Fantastic' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jameson is a browser-based email editor.">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
    <meta name="referrer" content="no-referrer" />

    <meta name="application-name" content="{{ appTitle }}">
    <meta name="theme-color" content="#2465fb">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ appTitle }}">

    <meta property="og:url" content="http://theuniversefantastic.co/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="✨Shoot for the Stars✨- The Universe Fantastic: Creative Brand Agency 🇸🇬">
    <meta property="og:description" content="We’ve got pizza to share and loads of love to give. Yeah, we talkin’ about pizza dripping with love sauce. Mmm, brand love. Talk to us!">
    <meta property="og:image" content="http://theuniversefantastic.co/assets/images/tuf-facebook-share.jpg">

    <title>✨Shoot for the Stars✨- The Universe Fantastic: Creative Brand Agency | Singapore</title>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/assets/img/tuf-icon-152x152.png">

    <script type="module" src="/assets/js/index.js"></script>
  </head>

  <body class="not-ready">
    <!-- START main -->
    <main id="main" class="main">
      {% block content %}
      {% endblock %}
    </main>
    <!-- END main -->
    <div aria-hidden="true" hidden>
    {% include 'partials/sprite.svg' %}
    </div>
  </body>
</html>
